<link rel="stylesheet" href="/static/css/about.css">

<div class="description-section">
    <div class="description">
        <h1>About Us</h1>
        <p>Welcome to Better World Employment Services, where we bridge the gap between job seekers and employers,
            fostering equal opportunities and meaningful connections. <br>
            With our cutting-edge job portal and commitment to empowerment, equality, transparency, and innovation,
            we're dedicated to shaping futures and making a positive impact. Join us in building a better world, one
            opportunity at a time.</p>
    </div>
    <div class="imageSetion">
        <img src="/static/images/about.jpg" alt="Loading....">
    </div>
</div>






